/* stylelint-disable color-hex-case */
/* stylelint-disable indentation */
/* stylelint-disable no-missing-end-of-source-newline */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

body {
        background-color: white;
}

.btn-primary {
        background: #36B37F;
        border-radius: 4px;
        border: none;
        color: white;
        outline-color: none;
}

.btn-primary:hover {
        box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.btn-primary:active {
        background: #008552;
}

.primary-font-style {
        font-family: 'Inter', sans-serif;
        font-style: normal;
}

.primary-font-size {
        font-weight: 700;
        font-size: 40px;
        line-height: 52px;
}

.center-content {
        text-align: center;
        justify-content: center;
}

#header_menu {
       display: flex;
       width: 100%;
       list-style-type: none;
}

#header_menu .welcome_text {
        width: 90px;
        height: 28px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: bolder;
        font-size: 20px;
        line-height: 28px;
        flex: 3;
        order: 1;
}

.toggleNav {
        left: 16.67%;
        right: 16.67%;
        top: 50%;
        bottom: 50%;
        flex: 1;
        text-align: right;
        order: 2;
        flex-grow: 0;
}

#presentation_text {
        top: 156px;
        font-family: 'Inter', sans-serif;
        font-weight: bold;
        font-size: 40px;
        line-height: 52px;
        text-align: center;
}

#presentation_text .greetings {
        color: #172B4D;
}

#presentation_text .profession {
        color: #36B37E;
}

#biography {
        width: 100%;
        height: 164px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        text-align: center;
        color: #172B4D;
}

.works_card .card-footer .tags li {
        flex: none;
        text-align: center;
        flex-grow: 0;
        font-weight: 600;
        font-size: 12px;
        padding: 12px;
        background: white;
        color: #36B37E;
        border-radius: 8px;
}

.card .card-footer .tags li {
        flex: none;
        text-align: center;
        flex-grow: 0;
        font-weight: 600;
        font-size: 12px;
        padding: 12px;
        background: #EBF0EE;
        color: #3A4A42;
        border-radius: 8px;
}

#social_media_links {
        display: flex;
        justify-content: center;
        list-style-type: none;
        margin-left: -5px;
}

#social_media_links li {
        height: 40px;
        width: 40px;
        margin: 20px;
}

#social_media_links li a i {
        color: #505F79;
}

#main_section {
       background-image: url('./images/background.png');
       background-repeat: no-repeat;
       background-position: center;
       background-size: 100%;
}

#recent_works {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
}

#recent_works h1 {
        font-weight: 700;
        font-size: 40px;
        line-height: 52px;
        color: #172B4D;
}

#recent_works .indicator {
       margin-top: 24px;
       margin-bottom: 62px;
       background-color: #36B37E;
       border-radius: 24px;
       width: 48px;
       height: 4px;
}

.works_list {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        align-items: center;
        padding: 4px 2px;
        gap: 24px;
        width: 331px;
        height: 2972px;
}

.card {
        display: flex;
        flex-direction: column;
        transition: 0.3s;
        width: 327px;
        border: 1px solid #D0D9D4;
        border-radius: 8px;
}

.card img {
        width: 100%;
        height: 252px;
        order: 0;
}

.card-footer {
        order: 1;
        display: flex;
        flex-direction: column;
}

.card .card-footer .tags {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row wrap;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        gap: 8px;
        width: 266px;
}

.project_title {
        width: 295px;
        height: 57px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 1000;
        font-size: 24px;
        line-height: 32px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #3A4A42;
        flex: none;
        order: 0;
        flex-grow: 0;
}

.action {
        width: 305px;
        height: 69px;
        flex: none;
        order: 2;
        flex-grow: 0;
}

.action button {
        width: 122px;
        height: 48px;
        bottom: 8px;
        font-weight: 500;
        font-size: 17px;
        line-height: 24px;
        letter-spacing: 0.03em;
}

#about_me {
       background-image: url('./images/illustration-about-me.png');
       background-repeat: no-repeat;
       background-position: center;
       background-size: 100%;
       margin-top: 455px;
       width: 100%;
       height: 389.38px;
}

.supporting_text {
        height: 189px;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
}

.contact_form_text {
        font-style: bold;
        font-weight: 700;
        font-size: 40px;
        line-height: 52px;
        text-align: center;
        color: #172B4D;
}

.btn-resume {
        padding: 12px;
        gap: 10px;
        width: 159px;
        height: 48px;
        background: #36B37F;
        border-radius: 4px;
        font-weight: 500;
        font-size: 17px;
        line-height: 24px;
        flex: none;
        order: 2;
        flex-grow: 0;
}

#me_knowledge {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        width: 100%;
        justify-content: center;
        align-items: center;
}

.works_card {
        display: flex;
        flex-direction: column;
        transition: 0.3s;
        width: 327px;
        height: 352px;
        background-color: #EBF0EE;
        border: 1px solid #D0D9D4;
        border-radius: 8px;
        margin-top: 24px;
}

.works_card img {
        order: 0;
        margin-top: 40px;
        margin-left: 124px;
        margin-right: 123px;
        width: 80px;
        height: 80px;
}

.works_card .card-footer {
        order: 1;
}

.works_card .work_title {
        height: 32px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #344563;
}

.works_card .card-footer .tags {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-items: center;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        gap: 8px;
        width: 266px;
}

#form_section {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-items: center;
        align-items: center;
}

#form_section h1 {
        font-weight: 700;
        font-size: 40px;
        line-height: 52px;
        text-align: center;
}

#form_section .input_form {
        display: flex;
        flex-direction: column;
        margin-top: 58px;
}

.form-input {
        box-sizing: border-box;
        background: white;
        border: 1px solid #D0D9D4;
        border-radius: 4px;
        margin: 15px;
        padding: 15px;
}

.classic {
        width: 327px;
        height: 48px;
}

.classic-md {
        width: 327px;
        height: 114px;
}

.btn-connect {
        gap: 10px;
        justify-items: center;
        align-items: center;
        text-align: center;
        margin-left: 123px;
        width: 129px;
        height: 48px;
        font-weight: 500;
        letter-spacing: 0.03em;
}

#form_section .span {
        margin-left: 40px;
}

.email_address {
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 147px;
        text-align: center;
        color: #42526E;
}
