/* stylelint-disable declaration-colon-space-after */
/* stylelint-disable no-descending-specificity */
/* stylelint-disable color-hex-case */
/* stylelint-disable indentation */
/* stylelint-disable no-missing-end-of-source-newline */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
        background-color: white;
}

img {
        max-width: 100%;
}

.btn-primary {
        background: #36B37F;
        border-radius: 4px;
        border: none;
        color: white;
        outline-color: none;
        padding: 10px;
}

.btn-primary:hover {
        box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.btn-primary:active {
        background: #008552;
}

.primary-font-style {
        font-family: 'Inter', sans-serif;
        font-style: normal;
}

.primary-font-size {
        font-weight: 700;
        font-size: 40px;
        line-height: 52px;
}

#mobile_header {
       display: flex;
       width: 100%;
       list-style-type: none;
}

#mobile_header .welcome_text {
        width: 90px;
        height: 28px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: bolder;
        font-size: 20px;
        line-height: 28px;
        flex: 3;
        order: 1;
}

.toggleNav {
        left: 16.67%;
        right: 16.67%;
        top: 50%;
        bottom: 50%;
        flex: 1;
        text-align: right;
        order: 2;
        flex-grow: 0;
}

#presentation_text {
        top: 156px;
        font-family: 'Inter', sans-serif;
        font-weight: bold;
        font-size: 40px;
        line-height: 52px;
        text-align: center;
}

#presentation_text .greetings {
        color: #172B4D;
}

#presentation_text .profession {
        color: #36B37E;
}

#biography {
        width: 100%;
        height: 164px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        text-align: center;
        color: #172B4D;
}

.social_media_links li {
        height: 40px;
        width: 40px;
        margin: 7px;
}

.social_media_links li a i {
        color: #505F79;
}

.social_media_links {
        display: flex;
        justify-content: center;
        list-style-type: none;
        margin-left: -27px;
}

#main_section {
       background-image: url('./images/background.png');
       background-repeat: no-repeat;
       background-position: center;
       background-size: 100%;
}

#recent_works {
        text-align: center;
}

#recent_works h2 {
        color: #172B4D;
        font-size: 30px;
}

.indicator {
        margin: 20px auto;
        background-color: #36B37E;
        border-radius: 24px;
        width: 48px;
        height: 4px;
}

.works_list {
        display: grid;
        width: 1200px;
        max-width: 90%;
        margin: 30px auto;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 30px;
}

.card {
        border: 1px solid #D0D9D4;
        border-radius: 8px;
        padding-bottom: 20px;
        transition: transform 300ms ease-in-out;
}

.card:hover {
        transform: scale(1.05);
}

.card-img {
        width: 100%;
        height: 300px;
}

.card h3 {
        color: #172B4D;
        font-weight: 600;
        font-size: 23px;
}

.card li {
        display: inline-block;
        background: #EBF0EE;
        border-radius: 4px;
        color: #172B4D;
        padding: 5px;
        font-size: 10px;
        font-weight: bold;
        margin-right: 8px;
}

.card-btn {
        text-decoration: none;
}

#about_me {
        background-image:
        url(./images/about-me-right.png),
        url(./images/about-me-left.png);
        background-position: right bottom, left bottom;
        background-repeat: no-repeat, no-repeat;
        background-size: 273px 245px, 288px 129px;
        text-align: center;
 }

.supporting_text {
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        color: #42526E;
}

#me_knowledge {
       width: 90%;
       margin: 20px auto;
       display: flex;
       flex-direction: column;
       gap: 30px;
}

.works_card {
        text-align: center;
        background: #EBF0EE;
        border: 1px solid #C1C7D0;
        border-radius: 8px;
        width: 100%;
        padding: 10px 0;
}

.works_card h3 {
        color: #344563;
}

.works_card-tags {
        padding-left: 0px;
}

.works_card-tags li {
        display: inline-block;
        padding: 10px;
        font-size: 12px;
        font-weight: bold;
        color: #36B37E;
        background-color: white;
        margin-right: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
}

.tags {
        padding-left: 0px;
}

.action button:hover {
        border: 2px solid #a7aeff;
  }

.contact_form_text {
        font-style: bold;
        font-weight: 700;
        font-size: 40px;
        line-height: 52px;
        text-align: center;
        color: #172B4D;
}

.btn-resume {
        padding: 12px;
        gap: 10px;
        width: 159px;
        height: 48px;
        background: #36B37F;
        border-radius: 4px;
        font-weight: 500;
        font-size: 17px;
        line-height: 24px;
        flex: none;
        order: 2;
        flex-grow: 0;
}

#form_section {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-items: center;
        align-items: center;
}

#form_section h1 {
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        font-size: 40px;
        line-height: 52px;
        text-align: center;
}

.form-input {
        box-sizing: border-box;
        background: white;
        border: 1px solid #D0D9D4;
        border-radius: 4px;
        margin: 15px;
        padding: 15px;
}

.classic {
        width: 327px;
        height: 48px;
}

.classic-md {
        width: 327px;
        height: 114px;
}

.btn-connect {
        gap: 10px;
        justify-items: center;
        align-items: center;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 123px;
        width: 129px;
        height: 48px;
        font-weight: 500;
        letter-spacing: 0.03em;
}

.validation-message {
        text-align: center;
}

#form_section .span {
        margin-left: 40px;
        margin-top: -20px;
}

.email_address {
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 147px;
        text-align: center;
        color: #42526E;
}

.scroll_down_btn {
        display: flex;
        justify-content: center;
        list-style-type: none;
        margin-left: -27px;
}

/* DESKTOP CSS */

#desktop_header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        opacity: 0.9;
}

.nav_options {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
}

.nav_options li {
        float: left;
        margin: 20px;
        font-family: 'Inter', sans-serif;
}

.nav_options li a {
        display: block;
        color: #42526E;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
}

.hide {
        display: none;
}

.popup {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 1000000;
        background-color: #fdfdfd;
}

.close_icon {
        text-align: right;
}

.popup-content {
        max-width: 85%;
        margin: 20px auto;
}

.popup_menu_option {
        list-style-type: none;
        margin-bottom: 20px;
}

.popup_menu_option a {
        text-decoration: none;
        color: #3A4A42;
        font-size: 25px;
        font-weight: 600;
        font-family: "Inter", sans-serif;
}

.close_img_icon {
        cursor: pointer;
}

/* Modal CSS */
.work-modal {
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       position: fixed;
       z-index: 1000000;
       background-color:rgba(193, 199, 208, 0.75);
       overflow-y: scroll;
}

.modal-content {
       display: flex;
       position: relative;
       flex-direction: column;
       max-width: 80%;
       margin: 70px 20%;
       background-color: white;
       border-radius: 16px;
       padding: 25px;
}

.modal-header {
       max-width: 100%;
       padding: 10px;
}

.close-button {
        float: right;
        cursor: pointer;
        margin-right: 5px;
        background: #EBECF0;
        padding: 4px;
        border-radius: 5px;
}

.project_illustration {
        width: 100%;
}

.modal_title {
        color: #172B4D;
        order: 1;
        flex-grow: 1;
        font-family: 'Inter', sans-serif;
        font-style: normal;
}

.technologies {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row wrap;
        align-items: left;
        list-style-type: none;
        gap: 8px;
        margin-left: -39px;
}

.technologies li {
        flex: none;
        text-align: center;
        flex-grow: 0;
        padding: 12px;
        background: #EBECF0;
        color: #344563;
        border-radius: 8px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.03em;
}

.project_description {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        color: #344563;
}

.work-modal-btn {
        padding: 16px;
        line-height: 20px;
        margin: 5px;
        width: 140px;
        height: 48px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
}

.work-modal-btn img {
        width: 16px;
        height: 16px;
}

.project_info {
        display: flex;
        flex-direction: row;
        margin-top: 24px;
}

.buttons {
        display: flex;
        order: 2;
}

.text-red {
        color:red;
}

/* MEDIA QUERIES  */
@media only screen and (max-width: 600px) {
#desktop_header {
        display: none;
}

#main_section {
       background-image: url('./images/background.png');
       background-repeat: no-repeat;
       background-position: center;
       background-size: 100%;
}

#desktop_form {
        display: none;
}

#form_section .input_form {
        display: flex;
        flex-direction: column;
        margin-top: 58px;
}

#desktop_social_links {
        display: none;
}
}

@media only screen and (min-width: 600px) {
#mobile_header {
        display: none;
}

#main_section {
       background-image: url('./images/desktop-background.png');
       background-repeat: no-repeat;
       background-position: center;
       background-size: 100%;
       height: 700px;
}

#presentation_text {
        padding-top: 140px;
}

#biography {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 550px;
}

.scroll_down_btn {
        margin-left: 8px;
}

#me_knowledge {
        flex-direction: row;
}

.supporting_text {
        margin-left: 300px;
        margin-right: 300px;
}

#form_section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-image:
        url(./images/contact-form-bckg1.png),
        url(./images/contact-form-bckg2.png),
        url(./images/contact-form-bckg3.png);
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-position: right bottom, 20% 80%, left bottom;
}

#form_section .dinput_form {
        display: flex;
        flex-direction: column;
        margin-top: 58px;
}

#form_section h1 {
        font-size: 30px;
        padding-left: 170px;
}

#mobile_form {
        display: none;
}

#desktop_form {
        display: flex;
        flex-direction: column;
        margin-top: 58px;
}

#desktop_form .first_elements {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
}

.form-input {
        width: 100%;
}

.btn-connect {
        margin-left: 16px;
}

#desktop_social_links {
        border-top-style: solid;
        border-color: #DFE1E6;
        border-width: 0.5px;
        margin-top: 70px;
}

.email_address {
        display: none;
}

#mobile_social_links {
        display: none;
}

/* .action {
        margin-left: 12px;
} */

/* .project_title {
        margin-left: 15px;
} */
}
